.flows.json.backup
[{"id":"ea3b00a0.b5452","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"52f963fc.0a905c","type":"subflow","name":"Customize Bot Name & Avatar","info":" - Drag and drop the node in the palette and link it to the inject node\n  - Customize the name and the avatar using the mxc link (learn how to get the mxc file link here: http://bit.ly/get-mxc-link)\n  - Deploy\n - Click on the inject node\n - You're done\n\n\n![enter image description here](https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/43081642120/original/3tP-QasxD7e45Ksr1-aQAK5lenHd-frAjw.gif?1572521514)","category":"tekos chatbot","in":[{"x":160,"y":140,"wires":[{"id":"891a02a.b45a1"}]}],"out":[{"x":1060,"y":140,"wires":[{"id":"cec93851.e567a8","port":0}]}],"env":[{"name":"NAME","type":"str","value":"","ui":{"icon":"font-awesome/fa-address-card-o","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"AVATAR","type":"str","value":"","ui":{"icon":"font-awesome/fa-user-circle","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"TEKOS_BOT_ID","type":"env","value":"TEKOS_BOT_ID","ui":{"icon":"font-awesome/fa-commenting-o","type":"input","opts":{"types":["str","env"]},"label":{}}},{"name":"TEKOS_BOT_TOKEN","type":"env","value":"TEKOS_BOT_TOKEN","ui":{"icon":"font-awesome/fa-wrench","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"BASE_URL","type":"env","value":"BASE_URL"}],"color":"#DEB887","icon":"font-awesome/fa-user-circle-o"},{"id":"891a02a.b45a1","type":"function","z":"52f963fc.0a905c","name":"Change name","func":"msg.url = \"https://\"+env.get('BASE_URL')+'/_matrix/client/r0/profile/' + env.get('TEKOS_BOT_ID')+ '/displayname?access_token='+ env.get('TEKOS_BOT_TOKEN')\nmsg.payload={\n\n  \"displayname\": env.get('NAME')\n\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["c326d2fb.f9c79","2b30b582.6dc2ca"]]},{"id":"c326d2fb.f9c79","type":"http request","z":"52f963fc.0a905c","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":140,"wires":[["253581dd.dff83e"]]},{"id":"253581dd.dff83e","type":"function","z":"52f963fc.0a905c","name":"change avatar","func":"msg.url = \"https://\"+env.get('BASE_URL')+'/_matrix/client/r0/profile/' + env.get('TEKOS_BOT_ID')+ '/avatar_url?access_token='+ env.get('TEKOS_BOT_TOKEN')\nmsg.payload={\n\n  \"avatar_url\": env.get('AVATAR')\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":140,"wires":[["cec93851.e567a8"]]},{"id":"cec93851.e567a8","type":"http request","z":"52f963fc.0a905c","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":140,"wires":[[]]},{"id":"2b30b582.6dc2ca","type":"debug","z":"52f963fc.0a905c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":420,"y":200,"wires":[]}]