.flows.json.backup
[{"id":"ea3b00a0.b5452","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"52f963fc.0a905c","type":"subflow","name":"Customize Bot Name & Avatar","info":" - Drag and drop the node in the palette and link it to the inject node\n  - Customize the name and the avatar using the mxc link (learn how to get the mxc file link here: http://bit.ly/get-mxc-link)\n  - Deploy\n - Click on the inject node\n - You're done\n\n\n![enter image description here](https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/43081642120/original/3tP-QasxD7e45Ksr1-aQAK5lenHd-frAjw.gif?1572521514)","category":"tekos chatbot","in":[{"x":160,"y":140,"wires":[{"id":"891a02a.b45a1"}]}],"out":[{"x":1060,"y":140,"wires":[{"id":"cec93851.e567a8","port":0}]}],"env":[{"name":"NAME","type":"str","value":"","ui":{"icon":"font-awesome/fa-address-card-o","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"AVATAR","type":"str","value":"","ui":{"icon":"font-awesome/fa-user-circle","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"TEKOS_BOT_ID","type":"env","value":"TEKOS_BOT_ID","ui":{"icon":"font-awesome/fa-commenting-o","type":"input","opts":{"types":["str","env"]},"label":{}}},{"name":"TEKOS_BOT_TOKEN","type":"env","value":"TEKOS_BOT_TOKEN","ui":{"icon":"font-awesome/fa-wrench","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"BASE_URL","type":"env","value":"BASE_URL"}],"color":"#DEB887","icon":"font-awesome/fa-user-circle-o"},{"id":"7d78edc2.572e44","type":"subflow","name":"Human handover","info":"Human handover or takeover\nInvite a Human Operator to a discussion","category":"tekos chatbot","in":[{"x":40,"y":80,"wires":[{"id":"1e40a7ab.638e08"}]}],"out":[],"env":[{"name":"TOKEN","type":"env","value":"TEKOS_BOT_TOKEN","ui":{"icon":"font-awesome/fa-key","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"Operator","type":"str","value":"@","ui":{"icon":"font-awesome/fa-address-book","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}}],"color":"#A6BBCF","icon":"font-awesome/fa-male"},{"id":"a3c35ef9.aa427","type":"subflow","name":"Typing","info":"Place the typing node just before the interaction node, like text node.\nThe typing time is arount 2s but you can modify that value inside the subflow\n\n![](https://i.imgur.com/ymFjS3b.png)\n","category":"tekos chatbot","in":[{"x":60,"y":80,"wires":[{"id":"4cd4afde.a3145"}]}],"out":[{"x":926,"y":80,"wires":[{"id":"64fa5490.04837c","port":0}]}],"env":[{"name":"TEKOS_BOT_TOKEN","type":"env","value":"TEKOS_BOT_TOKEN"},{"name":"TEKOS_BOT_ID","type":"env","value":"TEKOS_BOT_ID"},{"name":"BASE_URL","type":"env","value":"BASE_URL"}],"color":"#96ceb4","icon":"font-awesome/fa-commenting-o"},{"id":"88df4029.3776b","type":"subflow","name":"Send notice","info":"","category":"tekos chatbot","in":[{"x":108,"y":66,"wires":[{"id":"546d5b01.7dbb44"}]}],"out":[{"x":504,"y":66,"wires":[{"id":"c0104c7b.ae264","port":0}]}],"env":[{"name":"TOKEN","type":"env","value":"TEKOS_BOT_TOKEN"},{"name":"BODY","type":"str","value":" \"This is an <strong>example</strong> notice\""}],"color":"#C0DEED","icon":"node-red/alert.svg"},{"id":"8b2c5566.7e19a8","type":"subflow","name":"Tag Room","info":"Use this node to add a Tag to the specified room\nThis is useful when you need to classify some rooms and organize your workspace\n\n![Tag Rooms](https://i.imgur.com/1Lm5Cci.png)\n\n\nThe tag remains personal and won't be shared with others, even with the room members.\n\n\nUse this subflow with an inject node\n![Tag Rooms](https://i.imgur.com/9jp7d2e.png)\n\n","category":"","in":[{"x":40,"y":80,"wires":[{"id":"3b969ba9.ea9a74"}]}],"out":[{"x":520,"y":80,"wires":[{"id":"4fc5ee79.a95ba","port":0}]}],"env":[{"name":"token","type":"str","value":"","ui":{"label":{"en-US":"Your Token"},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"user","type":"str","value":"@","ui":{"label":{"en-US":"Your User ID"},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"room","type":"str","value":"","ui":{"label":{"en-US":"Room ID to Tag"},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"tag","type":"str","value":"work","ui":{"label":{"en-US":"The Tag"},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"homeserver","type":"str","value":"m.tekos.co"}],"color":"#A6BBCF","icon":"node-red/hash.svg"},{"id":"b785ddba.34dc7","type":"subflow","name":"Send Audio Buffer","info":"","category":"","in":[{"x":160,"y":80,"wires":[{"id":"b79e3a7c.d0d4f8"}]}],"out":[{"x":680,"y":200,"wires":[{"id":"74014da7.c2ecd4","port":0}]}],"env":[{"name":"token","type":"env","value":"BOT_TOKEN"},{"name":"homeserver","type":"str","value":"m.tekos.co"},{"name":"delay","type":"str","value":"100"}],"color":"#F3B567","icon":"font-awesome/fa-file-audio-o"},{"id":"4d4ab15c.1f8e2","type":"subflow","name":"Add + Purge ","info":"","category":"","in":[{"x":86,"y":88,"wires":[{"id":"6612724f.54f23c"}]}],"out":[{"x":1076,"y":110,"wires":[{"id":"c464db9e.60afc8","port":0}]}],"env":[{"name":"operation","type":"str","value":"add","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"add last event"},"v":"add"},{"l":{"en-US":"purge all saved events"},"v":"purge"}]},"label":{}}},{"name":"token","type":"env","value":"TEKOS_BOT_TOKEN"}],"color":"#E9967A","icon":"font-awesome/fa-trash-o"},{"id":"891a02a.b45a1","type":"function","z":"52f963fc.0a905c","name":"Change name","func":"msg.url = \"https://\"+env.get('BASE_URL')+'/_matrix/client/r0/profile/' + env.get('TEKOS_BOT_ID')+ '/displayname?access_token='+ env.get('TEKOS_BOT_TOKEN')\nmsg.payload={\n\n  \"displayname\": env.get('NAME')\n\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["c326d2fb.f9c79","2b30b582.6dc2ca"]]},{"id":"c326d2fb.f9c79","type":"http request","z":"52f963fc.0a905c","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":140,"wires":[["253581dd.dff83e"]]},{"id":"253581dd.dff83e","type":"function","z":"52f963fc.0a905c","name":"change avatar","func":"msg.url = \"https://\"+env.get('BASE_URL')+'/_matrix/client/r0/profile/' + env.get('TEKOS_BOT_ID')+ '/avatar_url?access_token='+ env.get('TEKOS_BOT_TOKEN')\nmsg.payload={\n\n  \"avatar_url\": env.get('AVATAR')\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":140,"wires":[["cec93851.e567a8"]]},{"id":"cec93851.e567a8","type":"http request","z":"52f963fc.0a905c","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":140,"wires":[[]]},{"id":"2b30b582.6dc2ca","type":"debug","z":"52f963fc.0a905c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":420,"y":200,"wires":[]},{"id":"1e40a7ab.638e08","type":"function","z":"7d78edc2.572e44","name":"Invite operator","func":"msg.url = \"https://\"+env.get('BASE_URL')+\"/_matrix/client/r0/rooms/\"+msg.roomId+\"/invite?access_token=\"+env.get('TOKEN')\nmsg.payload={\n\n  \"user_id\": env.get('Operator')\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["9087c788.d29038"]]},{"id":"9087c788.d29038","type":"http request","z":"7d78edc2.572e44","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":370,"y":80,"wires":[[]]},{"id":"e597a528.419f68","type":"function","z":"a3c35ef9.aa427","name":"typing status","func":"msg.url = 'https://'+env.get('BASE_URL')+'/_matrix/client/r0/rooms/' +msg.roomId+ '/typing/' +env.get('TEKOS_BOT_ID')+ '?access_token=' + env.get('TEKOS_BOT_TOKEN')\n\nmsg.headers ={\n    \"Content-type\": \"application/json\"\n}\n\nmsg.payload={\n  \"typing\": true,\n  \"timeout\": 3000\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":80,"wires":[["c6d95edd.c0536"]]},{"id":"c6d95edd.c0536","type":"http request","z":"a3c35ef9.aa427","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":80,"wires":[["64fa5490.04837c"]]},{"id":"64fa5490.04837c","type":"delay","z":"a3c35ef9.aa427","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":80,"wires":[[]]},{"id":"4cd4afde.a3145","type":"delay","z":"a3c35ef9.aa427","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":80,"wires":[["e597a528.419f68"]]},{"id":"546d5b01.7dbb44","type":"function","z":"88df4029.3776b","name":"notice","func":"msg.url = 'https://'+env.get('BASE_URL')+'/_matrix/client/r0/rooms/' +msg.roomId+ '/send/m.room.message?access_token='+ env.get('TOKEN')\nmsg.payload={\n       // \"body\": \"This is an example notice\",\n        \"format\": \"org.matrix.custom.html\",\n        \"formatted_body\": env.get('BODY'),\n        \"msgtype\": \"m.notice\"\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":226,"y":66,"wires":[["c0104c7b.ae264"]]},{"id":"c0104c7b.ae264","type":"http request","z":"88df4029.3776b","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":378,"y":66,"wires":[[]]},{"id":"3b969ba9.ea9a74","type":"function","z":"8b2c5566.7e19a8","name":"Matrix API","func":"\n\nmsg.url = \"https://\"+env.get('homeserver')+\"/_matrix/client/r0/user/\"+env.get('user')+\"/rooms/\"+env.get('room')+\"/tags/\"+env.get('tag')+\"?access_token=\"+env.get('token')\nmsg.payload = {\n\n  \"order\": 0.25\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["4fc5ee79.a95ba"]]},{"id":"4fc5ee79.a95ba","type":"http request","z":"8b2c5566.7e19a8","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":80,"wires":[["36020085.6c9cd"]]},{"id":"36020085.6c9cd","type":"debug","z":"8b2c5566.7e19a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":160,"wires":[]},{"id":"261b190e.c77296","type":"inject","z":"ea3b00a0.b5452","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":140,"wires":[["c6b45a5.6f6d6a8"]]},{"id":"975e77d3.845a08","type":"watson-text-to-speech","z":"ea3b00a0.b5452","name":"Tekos TTS","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"en-US_AllisonVoice","format":"audio/mp3","password":"Miloud4!","apikey":"iQpk9TQqv-HW6oFDQkuWFtU_yeb9C76F0mXoK3vLrmJt","payload-response":true,"service-endpoint":"https://stream-fra.watsonplatform.net/text-to-speech/api","x":530,"y":140,"wires":[["efa2da16.88ac78"]]},{"id":"98a3f454.34e018","type":"comment","z":"ea3b00a0.b5452","name":"https://console.bluemix.net/docs/services/text-to-speech/SSML-expressive.html","info":"","x":420,"y":220,"wires":[]},{"id":"46f53292.ca785c","type":"comment","z":"ea3b00a0.b5452","name":"<express-as type=\"GoodNews\">   I have good news: I was able to reduce the payments on your monthly bill! </express-as>","info":"","x":550,"y":260,"wires":[]},{"id":"c6b45a5.6f6d6a8","type":"template","z":"ea3b00a0.b5452","name":"Expressive SSML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<express-as type=\"GoodNews\">\n  Welcome to Tekos Chat. Express Yourself freely.\n</express-as>","output":"str","x":350,"y":140,"wires":[["975e77d3.845a08"]]},{"id":"9195737b.f5132","type":"file","z":"b785ddba.34dc7","name":"","filename":"audio.wav","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":520,"y":80,"wires":[["3354902b.8c3f8"]]},{"id":"3354902b.8c3f8","type":"base64","z":"b785ddba.34dc7","name":"","action":"","property":"payload","x":680,"y":80,"wires":[["3c2dc7e6.e94348"]]},{"id":"f41b69f8.e2fe38","type":"function","z":"ea3b00a0.b5452","name":"roomId","func":"msg.roomId = \"!OcCdYTGZTUYMjCghml:m.tekos.co\";\nmsg.userid = \"@tekos-test:m.tekos.co\"\nmsg.accesstoken =\"\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":80,"wires":[[]]},{"id":"3c2dc7e6.e94348","type":"function","z":"b785ddba.34dc7","name":"upload","func":"msg.url = \"https://\"+env.get('homeserver')+\"/_matrix/media/r0/upload?filename=audio.wav&access_token=\"+env.get('token')\n\nvar audio = msg.payload;\nvar base64data = new Buffer(audio, 'base64');\nmsg.payload = base64data;\nmsg.headers ={\n    \"Content-type\": \"audio/wav\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":80,"wires":[["ccd50409.fac6f8"]]},{"id":"ccd50409.fac6f8","type":"http request","z":"b785ddba.34dc7","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":80,"wires":[["27b4450a.6e29aa"]]},{"id":"9099acd7.0d87b","type":"function","z":"b785ddba.34dc7","name":"set room","func":"//msg.roomId = '!LAMIpamy.tekos.co'\nvar audiofile = msg.payload.content_uri\nvar delay = +env.get('delay')\nmsg.url = \"https://\"+env.get('homeserver')+\"/_matrix/client/r0/rooms/\"+msg.roomId+\"/send/m.room.message?access_token=\"+env.get('token')\nmsg.payload={\n      \"msgtype\": \"m.audio\",\n        \"url\": audiofile,\n     \"body\": \"Tekos Bot\",\n}\nnode.warn(msg.url)\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":200,"wires":[["74014da7.c2ecd4"]]},{"id":"74014da7.c2ecd4","type":"http request","z":"b785ddba.34dc7","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":200,"wires":[["6210950d.adfbbc","8418db01.f8c908"]]},{"id":"6210950d.adfbbc","type":"debug","z":"b785ddba.34dc7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":140,"wires":[]},{"id":"b79e3a7c.d0d4f8","type":"ffmpeg-conversion","z":"b785ddba.34dc7","name":"","format":"wav","audiochannels":"mono","x":330,"y":80,"wires":[["9195737b.f5132"]]},{"id":"45604521.34b18c","type":"link in","z":"b785ddba.34dc7","name":"","links":["27b4450a.6e29aa"],"x":155,"y":200,"wires":[["9099acd7.0d87b"]]},{"id":"27b4450a.6e29aa","type":"link out","z":"b785ddba.34dc7","name":"","links":["45604521.34b18c"],"x":1095,"y":80,"wires":[]},{"id":"c3fe7b14.86a838","type":"subflow:8b2c5566.7e19a8","z":"ea3b00a0.b5452","name":"","env":[],"x":130,"y":20,"wires":[[]]},{"id":"efa2da16.88ac78","type":"subflow:b785ddba.34dc7","z":"ea3b00a0.b5452","name":"","env":[{"name":"token","value":"TEKOS_BOT_TOKEN","type":"env"},{"name":"room_id","value":"!LAMIpamyCBxUOVQhii:m.tekos.co","type":"str"}],"x":730,"y":140,"wires":[[]]},{"id":"46a64e76.c71a6","type":"comment","z":"ea3b00a0.b5452","name":"or Link to Audio out (NR Dashbaord)","info":"","x":780,"y":180,"wires":[]},{"id":"af20c30c.abc5e","type":"switch","z":"4d4ab15c.1f8e2","name":"Operation ? ","property":"operation","propertyType":"env","rules":[{"t":"eq","v":"add","vt":"str"},{"t":"eq","v":"purge","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":378,"y":88,"wires":[["8e5d5f4b.65bf5"],["b716822b.09df3"],["840787a8.8388f8"]]},{"id":"840787a8.8388f8","type":"link out","z":"4d4ab15c.1f8e2","name":"","links":[],"x":521,"y":132,"wires":[]},{"id":"8e5d5f4b.65bf5","type":"switch","z":"4d4ab15c.1f8e2","name":"","property":"roomId","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":578,"y":22,"wires":[["852b0b1f.5e82d8"],[]]},{"id":"852b0b1f.5e82d8","type":"switch","z":"4d4ab15c.1f8e2","name":"","property":"payload.eventId","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":732,"y":22,"wires":[["c464db9e.60afc8"],["7066c963.d94038"]]},{"id":"c464db9e.60afc8","type":"function","z":"4d4ab15c.1f8e2","name":"add event id","func":"let roomId = msg.roomId.replace(/\\./g,'_')\nroomId = roomId.replace('!','');\nlet events;\nnode.warn(\"start add event id 1\")\nnode.warn(msg.payload);\nif(global.get(\"event@payload.\"+roomId)){\n    events = global.get(\"event@payload.\"+roomId);\n    events.push(msg.payload.eventId);\n    global.set(\"event@payload.\"+roomId,events);\n\n}else{\n    events = [];\n    events.push(msg.payload.eventId);\n    global.set(\"event@payload.\"+roomId,events);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":906,"y":22,"wires":[[]]},{"id":"6612724f.54f23c","type":"function","z":"4d4ab15c.1f8e2","name":"get operation","func":"node.warn(\"get operation\");\nnode.warn(msg);\nif(!msg.payload){\n    msg.payload = {};\n}\nnode.warn(env.get(\"operation\"));\nif(env.get(\"operation\") == \"add\"){\n    msg.payload.operation = \"add\";\n    msg.payload.eventId = msg.payload.event_id;\n    return [msg,null];\n}else if(env.get(\"operation\") == \"purge\"){\n        msg.payload.operation = \"purge\";\nnode.warn(msg);\n\n    return [msg,null];\n\n}else{\n        return [null,msg];\n\n}\n","outputs":2,"noerr":0,"x":202,"y":88,"wires":[["af20c30c.abc5e"],[]]},{"id":"b716822b.09df3","type":"function","z":"4d4ab15c.1f8e2","name":"delete all eventid id in room","func":"node.warn(\"start delete\");\nlet roomId = msg.roomId.replace(/\\./g,'_')\nroomId = roomId.replace('!','');\n\nvar eventid = global.get(\"event@payload.\"+roomId);\nnode.warn(eventid)\nnode.warn(eventid.length);\n if(eventid){\n    for (let i = 0; i < eventid.length; i++) {\n    node.warn(eventid[i]);\n     msg.url =  \"https://m.tekos.co/_matrix/client/r0/rooms/\"+msg.roomId+\"/redact/\"+eventid[i]+\"/1?access_token=\"+env.get('token');\n     msg.payload={\"reason\": \"Indecent material\"}\n     node.send(msg);\n     }\n global.set(\"event@payload.\"+roomId,[]);\n\n }\n\n","outputs":2,"noerr":0,"x":670,"y":88,"wires":[["a80a42f2.75aa3"],[]]},{"id":"a80a42f2.75aa3","type":"http request","z":"4d4ab15c.1f8e2","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":906,"y":88,"wires":[["69c838ee.4026e8"]]},{"id":"69c838ee.4026e8","type":"debug","z":"4d4ab15c.1f8e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1062,"y":66,"wires":[]},{"id":"7066c963.d94038","type":"link out","z":"4d4ab15c.1f8e2","name":"","links":[],"x":829,"y":44,"wires":[]},{"id":"96fb511f.145d6","type":"switch","z":"4d4ab15c.1f8e2","name":"","property":"payload.event_id","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":622,"y":264,"wires":[["e0e45c0.5d000a8"],["80e9d393.cda9c"]]},{"id":"4740fb44.72dfa4","type":"link in","z":"4d4ab15c.1f8e2","name":"","links":[],"x":521,"y":264,"wires":[["96fb511f.145d6"]]},{"id":"e0e45c0.5d000a8","type":"function","z":"4d4ab15c.1f8e2","name":"add event id","func":"let roomId = msg.roomId.replace(/\\./g,'_')\nroomId = roomId.replace('!','');\nlet events;\nnode.warn(\"start add event id 2\")\nnode.warn(msg.payload);\nif(global.get(\"event@payload.\"+roomId)){\n    events = global.get(\"event@payload.\"+roomId);\n    events.push(msg.payload.event_id);\n    global.set(\"event@payload.\"+roomId,events);\n\n}else{\n    events = [];\n    events.push(msg.payload.event_id);\n    global.set(\"event@payload.\"+roomId,events);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":796,"y":242,"wires":[[]]},{"id":"80e9d393.cda9c","type":"switch","z":"4d4ab15c.1f8e2","name":"","property":"id","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":798,"y":308,"wires":[["844f7a15.cd0758"],[]]},{"id":"844f7a15.cd0758","type":"function","z":"4d4ab15c.1f8e2","name":"add event id","func":"let roomId = msg.roomId.replace(/\\./g,'_')\nroomId = roomId.replace('!','');\nlet events;\nnode.warn(\"start add event id 3\")\nnode.warn(msg.id);\nif(global.get(\"event@payload.\"+roomId)){\n    events = global.get(\"event@payload.\"+roomId);\n    events.push(msg.id);\n    global.set(\"event@payload.\"+roomId,events);\n\n}else{\n    events = [];\n    events.push(msg.id);\n    global.set(\"event@payload.\"+roomId,events);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":308,"wires":[[]]},{"id":"8418db01.f8c908","type":"subflow:4d4ab15c.1f8e2","z":"b785ddba.34dc7","name":"","env":[],"x":290,"y":280,"wires":[["2f9da660.6470da"]]},{"id":"2f9da660.6470da","type":"delay","z":"b785ddba.34dc7","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":280,"wires":[["aced0e0f.23602"]]},{"id":"aced0e0f.23602","type":"subflow:4d4ab15c.1f8e2","z":"b785ddba.34dc7","name":"","env":[{"name":"operation","value":"purge","type":"str"}],"x":710,"y":280,"wires":[[]]}]