flows.json
[{"id":"ea3b00a0.b5452","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"52f963fc.0a905c","type":"subflow","name":"Customize Bot Name & Avatar","info":" - Drag and drop the node in the palette and link it to the inject node\n  - Customize the name and the avatar using the mxc link (learn how to get the mxc file link here: http://bit.ly/get-mxc-link)\n  - Deploy\n - Click on the inject node\n - You're done\n\n\n![enter image description here](https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/43081642120/original/3tP-QasxD7e45Ksr1-aQAK5lenHd-frAjw.gif?1572521514)","category":"tekos chatbot","in":[{"x":160,"y":140,"wires":[{"id":"891a02a.b45a1"}]}],"out":[{"x":1060,"y":140,"wires":[{"id":"cec93851.e567a8","port":0}]}],"env":[{"name":"NAME","type":"str","value":"","ui":{"icon":"font-awesome/fa-address-card-o","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"AVATAR","type":"str","value":"","ui":{"icon":"font-awesome/fa-user-circle","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"TEKOS_BOT_ID","type":"env","value":"TEKOS_BOT_ID","ui":{"icon":"font-awesome/fa-commenting-o","type":"input","opts":{"types":["str","env"]},"label":{}}},{"name":"TEKOS_BOT_TOKEN","type":"env","value":"TEKOS_BOT_TOKEN","ui":{"icon":"font-awesome/fa-wrench","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"BASE_URL","type":"env","value":"BASE_URL"}],"color":"#DEB887","icon":"font-awesome/fa-user-circle-o"},{"id":"7d78edc2.572e44","type":"subflow","name":"Human handover","info":"Human handover or takeover\nInvite a Human Operator to a discussion","category":"tekos chatbot","in":[{"x":40,"y":80,"wires":[{"id":"1e40a7ab.638e08"}]}],"out":[],"env":[{"name":"TOKEN","type":"env","value":"TEKOS_BOT_TOKEN","ui":{"icon":"font-awesome/fa-key","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"Operator","type":"str","value":"@","ui":{"icon":"font-awesome/fa-address-book","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}}],"color":"#A6BBCF","icon":"font-awesome/fa-male"},{"id":"a3c35ef9.aa427","type":"subflow","name":"Typing","info":"Place the typing node just before the interaction node, like text node.\nThe typing time is arount 2s but you can modify that value inside the subflow\n\n![](https://i.imgur.com/ymFjS3b.png)\n","category":"tekos chatbot","in":[{"x":60,"y":80,"wires":[{"id":"4cd4afde.a3145"}]}],"out":[{"x":926,"y":80,"wires":[{"id":"64fa5490.04837c","port":0}]}],"env":[{"name":"TEKOS_BOT_TOKEN","type":"env","value":"TEKOS_BOT_TOKEN"},{"name":"TEKOS_BOT_ID","type":"env","value":"TEKOS_BOT_ID"},{"name":"BASE_URL","type":"env","value":"BASE_URL"}],"color":"#96ceb4","icon":"font-awesome/fa-commenting-o"},{"id":"88df4029.3776b","type":"subflow","name":"Send notice","info":"","category":"tekos chatbot","in":[{"x":108,"y":66,"wires":[{"id":"546d5b01.7dbb44"}]}],"out":[{"x":504,"y":66,"wires":[{"id":"c0104c7b.ae264","port":0}]}],"env":[{"name":"TOKEN","type":"env","value":"TEKOS_BOT_TOKEN"},{"name":"BODY","type":"str","value":" \"This is an <strong>example</strong> notice\""}],"color":"#C0DEED","icon":"node-red/alert.svg"},{"id":"891a02a.b45a1","type":"function","z":"52f963fc.0a905c","name":"Change name","func":"msg.url = \"https://\"+env.get('BASE_URL')+'/_matrix/client/r0/profile/' + env.get('TEKOS_BOT_ID')+ '/displayname?access_token='+ env.get('TEKOS_BOT_TOKEN')\nmsg.payload={\n\n  \"displayname\": env.get('NAME')\n\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["c326d2fb.f9c79","2b30b582.6dc2ca"]]},{"id":"c326d2fb.f9c79","type":"http request","z":"52f963fc.0a905c","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":140,"wires":[["253581dd.dff83e"]]},{"id":"253581dd.dff83e","type":"function","z":"52f963fc.0a905c","name":"change avatar","func":"msg.url = \"https://\"+env.get('BASE_URL')+'/_matrix/client/r0/profile/' + env.get('TEKOS_BOT_ID')+ '/avatar_url?access_token='+ env.get('TEKOS_BOT_TOKEN')\nmsg.payload={\n\n  \"avatar_url\": env.get('AVATAR')\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":140,"wires":[["cec93851.e567a8"]]},{"id":"cec93851.e567a8","type":"http request","z":"52f963fc.0a905c","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":140,"wires":[[]]},{"id":"2b30b582.6dc2ca","type":"debug","z":"52f963fc.0a905c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":420,"y":200,"wires":[]},{"id":"1e40a7ab.638e08","type":"function","z":"7d78edc2.572e44","name":"Invite operator","func":"msg.url = \"https://\"+env.get('BASE_URL')+\"/_matrix/client/r0/rooms/\"+msg.roomId+\"/invite?access_token=\"+env.get('TOKEN')\nmsg.payload={\n\n  \"user_id\": env.get('Operator')\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["9087c788.d29038"]]},{"id":"9087c788.d29038","type":"http request","z":"7d78edc2.572e44","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":370,"y":80,"wires":[[]]},{"id":"e597a528.419f68","type":"function","z":"a3c35ef9.aa427","name":"typing status","func":"msg.url = 'https://'+env.get('BASE_URL')+'/_matrix/client/r0/rooms/' +msg.roomId+ '/typing/' +env.get('TEKOS_BOT_ID')+ '?access_token=' + env.get('TEKOS_BOT_TOKEN')\n\nmsg.headers ={\n    \"Content-type\": \"application/json\"\n}\n\nmsg.payload={\n  \"typing\": true,\n  \"timeout\": 3000\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":80,"wires":[["c6d95edd.c0536"]]},{"id":"c6d95edd.c0536","type":"http request","z":"a3c35ef9.aa427","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":80,"wires":[["64fa5490.04837c"]]},{"id":"64fa5490.04837c","type":"delay","z":"a3c35ef9.aa427","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":80,"wires":[[]]},{"id":"4cd4afde.a3145","type":"delay","z":"a3c35ef9.aa427","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":80,"wires":[["e597a528.419f68"]]},{"id":"546d5b01.7dbb44","type":"function","z":"88df4029.3776b","name":"notice","func":"msg.url = 'https://'+env.get('BASE_URL')+'/_matrix/client/r0/rooms/' +msg.roomId+ '/send/m.room.message?access_token='+ env.get('TOKEN')\nmsg.payload={\n       // \"body\": \"This is an example notice\",\n        \"format\": \"org.matrix.custom.html\",\n        \"formatted_body\": env.get('BODY'),\n        \"msgtype\": \"m.notice\"\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":226,"y":66,"wires":[["c0104c7b.ae264"]]},{"id":"c0104c7b.ae264","type":"http request","z":"88df4029.3776b","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":378,"y":66,"wires":[[]]}]